<!DOCTYPE html>
<html lang="pt-br">
    <link href="https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap" rel="stylesheet">

<header>
    <div class="logo">

        <img src="../../../assets/FAST-LOGO-33.svg" alt="logo-fast">
        
    </div>
</header>
    <h1>Rastreamento de Participação em Workshops</h1>
<nav>

    <div div class="nav-item">
    <img src="../assets/colaboradores.png" alt="colaboradores">
    <a href="/colaboradores">Colaboradores</a>
    
    <img src="../assets/workshop.png" alt="workshop">
    <a href="/workshops">Workshops</a>
    </div>

</nav>
</html>